.pagination {
  display: flex;
  align-items: center;
  margin: 61px 0 0 0;
  
  &__number {
    margin: 0 20px;
    @include text(400, 40px, 1, 0, 0.6);
  }

  &__button {
    padding: 0;
    border: none;
    outline: none;
    color: $gray-2;
    background-color: transparent;
    transition: all $transition-prop;
    cursor: pointer;
    &:disabled {
      color: $gray-3;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}