.auth-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__btn {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include text(400, 14px, 1.5, 0.25, 1);
    color: $gray-2;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: all $transition-prop;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    }
  }
}