@mixin text($fw, $fs, $lh, $ls, $color-shade) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: rgba(0, 0, 0, $color-shade);
}

// @mixin flex-position($position) {
//   display: flex;
//   flex-direction: $position;
//   align-items: center;
//   //justify-content: center;
// }
