// ================== COLORS
$primary: #000000;
$secondary: #ffffff;
$gray-1: #8E8E93;
$gray-2: #6E798C;

// // TRANSITIONS
// $transition-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// // SHADOWS
// $box-shadow: 0px 1px 3px rgba($main-color, 0.12),
//   0px 1px 1px rgba($main-color, 0.14), 0px 2px 1px rgba($main-color, 0.2);