// ==================================== COLORS
$primary: #000000;
$primary-shade: #0000008a;
$secondary: #ffffff;
$gray-1: #8E8E93;
$gray-2: #6E798C;
$gray-3: #F2F2F7;
$accent-blue: #00B0C8;

// ==================================== BREAKPOINTS
$mobile: 360px;
$desktop: 1440px;

// ==================================== TRANSITIONS
$transition-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);