.filter {
  width: 100%;
  position: relative;
  margin: 0 0 32px 0;
  //background-color: red;
  @media screen and (min-width: $desktop) {
    margin: 0 0 61px 0;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: $primary-shade;
  }

  &__input {
    @include text(400, 16px, 1.5, 0, 1);
    width: 100%;
    padding: 16px 16px 16px 48px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    &::placeholder {
      @include text(400, 16px, 1.5, 0, 0.5);
    }
  }
}