.shared-layout {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 24px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 210px;
  }
}